/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=- GERAL -=-=-=-=-=-=-=-=-=-=-=-=-=-= */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

:root {
  --button: #ff0000;
  --main-background: #c4c4c4;
  --background: #e5e5e5;
  --text: #000;
  --footer: #000;
  --text-description: #9c9696;
  --nav-height: 8.7rem;

  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  overflow: overlay;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=- NAVIGATION -=-=-=-=-=-=-=-=-=-=-=-=-=-= */
nav {
  padding-top: 4.2rem;
  display: flex;
  justify-content: space-evenly;

  margin-bottom: 8.768rem;

  width: 100vw;
}

nav #logo {
  margin-bottom: 1.16rem;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 9rem;
}

nav ul a {
  text-decoration: none;
  color: var(--text);

  font-size: 2.4rem;
  line-height: 2.8rem;
}

nav .search {
  display: flex;
  width: 22rem;
  height: 4.5rem;
}

nav .search input {
  border: none;
}

nav .search input:focus {
  outline: none;
}

nav .search input::placeholder {
  color: var(--text-description);
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.1rem;
}

nav #bag {
  height: 3.4rem;
  width: 3.4rem;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=- CONTENT -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.content {
  display: flex;
  margin-inline: auto;
}

.content .buy {
  display: flex;
  flex-direction: column;

  padding-top: 1.532rem;
  margin-right: 7.2rem;

  text-align: left;

  margin-left: 11.1rem;

  width: 35.7rem;
}

.content .buy h1 {
  font-size: 6rem;
  line-height: 7rem;

  margin-bottom: 2.1rem;
}

.content .buy p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: var(--text-description);

  margin-bottom: 2.1rem;
}

.content .buy h2 {
  font-size: 4rem;
  line-height: 4.7rem;

  margin-bottom: 3rem;
}

.content .buy .buy-button {
  width: 27.4rem;
  height: 9rem;
  background-color: var(--button);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .buy .buy-button a {
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: white;
  background-color: var(--button);
  text-decoration: none;
}

.content .tenis-images {
  background-color: var(--main-background);
  display: flex;
  width: 90rem;

  flex-wrap: wrap;
  justify-content: center;
}

.content .tenis-images .minor-tenis {
  display: flex;
  gap: 3.7rem;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=- FOOTER -=-=-=-=-=-=-=-=-=-=-=-=-=-= */

footer {
  display: flex;
  flex-direction: row;
  margin: 0 auto;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.1rem;

  color: var(--footer);
}

footer ul {
  display: flex;
  justify-content: space-between;
  gap: 9rem;
  list-style: none;

  margin-left: 4.7rem;
  margin-right: 7.7rem;
}

footer ul li a {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--footer);
}

footer ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .explore-mais {
  width: 43.7rem;

  display: flex;
  background-color: var(--footer);
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer .explore-mais a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  font-size: 2.4rem;
  line-height: 2.8rem;
}
