body{
    margin: 0%;
    height: 100vh;
    display: grid;
}

header{
    background-color: aqua;

}
main{
    background-color: cadetblue;
}

aside{
    background-color: darkcyan;
}
footer{
    background-color: deepskyblue;
}