body{
    display: grid;
    margin: 0;
    height: 100vh;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 1fr 100px;

    /* 1fr -> torna o conteúdo flexível 
    px fixa o tamanho do conteúdo
    */
}

header{
    background-color: green;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

main{
    background-color: red;
    grid-area: main;
}
aside{
    background-color: blue;
    grid-area: aside;
}
footer{
    background-color: gray;
    grid-area: footer;
}